<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
  	<welcome-file>homepage.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>TesrServlet</servlet-name>
    <servlet-class>com.promise.test.servlet.TesrServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TesrServlet</servlet-name>
    <!-- struts2与servlet原理上是不能共存的，因为两者的请求均没有后缀，系统会自动将请求默认
    	处理为struts2请求，将servlet请求加上servlet后缀，以此解决此问题 -->
    <url-pattern>/servlet/TesrServlet.servlet</url-pattern>
  </servlet-mapping>
  
   <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 </web-app>